/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background-color: black; 
    padding: 5px;   
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    z-index: 10;
}


/* barra in alto header */
.view{
    position: relative;
}

.view i{
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 5px;
}


/* inizio main */
main{
    background-color: black;
    margin: 50px 0;
    /* display: flex;*/
} 


/* tutto il container con immagini utente */
.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px;    
}


/* setup immagine titolo e mic */
.card{
    position: relative;
    width: calc(100% / 8);
    margin: 5px;
    display: flex;
}   

.container-img img{
    width: 100%;
}

.utente{
    display: flex;
    position: absolute;
    bottom: 0;
}
h3{
    color: white;
    font-size: 10px;
    background-color: rgb(149, 145, 145, 0.4);
    padding: 3px;
}

h3 i{
    color: white;
}
/* fine main */


footer{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(68, 65, 65);    
    position: fixed;
    bottom: 0;
    z-index: 10;
}


/* non capisco perchè non mi va la width a 100% */
.menu{
    display: flex;    
    width: 100%;
}

.left{
    display: flex;
    justify-content: space-between;
}

.left div{    
    color: white;
    font-size: 7px;
    padding: 10px 5px;
}

.left i{
    font-size: 20px;
    padding-right: 40px;
}

#angle-up{
    font-size: 10px ;
}

#share{
    color: green;
}

#fine{
    color: red;
    background-color: rgb(170, 162, 162);
    border: none;
    height: 100%;
    padding: 0 5px;
}